body {
    color: #222;
    max-width: 800px;
    background-color: #eee;
    font-family: sans-serif;
    padding: 1rem;
    font-size: 18px;
    margin: auto;
}

ul {
    display: grid;
    width: 100%;
    list-style: none;
    padding-left: 0;
}

li {
    display: grid;
    grid-template-columns: 25px auto;
    grid-gap: 1rem;
    margin-bottom: 1rem;
}

.completed {
    text-decoration: line-through;
    color: #444;
}